* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #769FCD; 
}

.contenedor{  
    display: grid;
    gap: 1rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    grid-auto-flow: dense;    
 
}

.card {
    position: relative;
    overflow: hidden;    
    border-radius: 0.3rem;  
    color: black;   
    }

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 0.5s;
}

.card .front {
    background-color: #B9D7EA;    
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    background: #D6E6F2;
    transform: perspective(500px) rotateY(180deg);
}


.card:hover .front {
   
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
   
    transform: perspective(500px) rotateY(360deg);
}

.card div h1 {
    font-size: 100px;
    color: #f1f1f1;
}



.imagen{
    width: 100%;
}

.icono{
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.144);
    border: 5px solid #D6E6F2;
    border-radius: 1rem;
}

.nombre{color: red}