* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #769FCD;
}

.contenedor {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-flow: dense;

}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
    color: black;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    backface-visibility: hidden;
    transition: 0.3s;
}

.card .front {
    background-color: #B9D7EA;
    transform: perspective(500px) rotateY(0deg);
}

.card .frontb {
    background-color: #B9D7EA;

}




.card .back {
    background: #D6E6F2;
    transform: perspective(500px) rotateY(180deg);
}


.card:hover .front {

    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {

    transform: perspective(500px) rotateY(360deg);
}








.contendoricono {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;


}


.icono {
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.144);
    border: 5px solid #D6E6F2;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.iconob{
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.144);
    border: 5px solid #D6E6F2;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.iconob:hover{
    background: #769FCD;
}


.nombre {
    color: red
}

.barraback {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;

}

.icono2 {

    height: 60%;
    margin-left: 5%;

}

.nombre2 {
    font-size: 30px;
}

.descripcion {
  
    height: 50%;
    width: 100%;
}

.contenedorboton {

    width: 100%;

    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.contenedorbotones{

    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right ;
    border: transparent;





}



.botones {
    
    height: 50%;
    width: 25%;
    transition: all 0.5s ease;
    border-radius: 50%;
    background-color: transparent;
    border: none;
   
    margin-right: 8%;

}

.botones:hover {
    background: #769FCD;

}

.imagenboton{
width: 50%;}







.vacio {
    height: 20%;
}

.nombre {
    height: 20%;
}

.version {
    height: 10%;
}

.linkboton{

    width: 90%;
    padding: 5%;
    background-color: #B9D7EA;
}

.linkboton:hover {
    background: #769FCD;

}

.contedorblanco{height: 50%;}

.contendoriconosuma{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B9D7EA;
    border: 1px solid red;
    
}

.buttonb{
    background-color: transparent;
    outline: none;
    border: none;
}

.suma{margin: 4%;}

.lin{width: 100%;
background-color: transparent;
border: none;}