<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="edito.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <title>Editar Programa</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body  data-aos="fade-left">
  <div class="wrapper">
    <div class="container main">
      <div class="row" v-for="(producto, index) in productos" :key="producto.name">
        <div class="col-md-6 side-image imagen2"></div>
        <div class="col-md-6 right">
          <div id="app" class="input-box">
            <header>Editar Programa</header>
            <div id="resultado2" style="display: none;"></div>
            <div class="input-field">
              <input type="text" class="input" v-model="nombre" required autocomplete="off">
              <label for="nombre">Nombre</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" v-model="descripcion" required autocomplete="off">
              <label for="descripcion">Descripción</label>
            </div>      
            <div class="input-field">
              <input type="text" class="input" v-model="icono" required autocomplete="off">
              <label for="icono">URL del icono</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" v-model="url" required autocomplete="off">
              <label for="url">URL del producto</label>
            </div>            
            <div class="input-field">
              <label for="version"></label>
              <select id="version" class="input" v-model="version" required>
                <option value="" disabled selected hidden>Tipo de programa</option>
                <option value="antivirus">antivirus</option>
                <option value="analisis">analisis</option>
                <option value="sistemas operativos">sistemas operativos</option>
                <option value="ofimatica">ofimatica</option>
                <option value="optimizador">optimizador</option>
                <option value="otros">otros</option>
              </select>
            </div>
            <div class="input-field">
              <input type="submit" class="submit" value="Editar" @click.prevent="updateProducto">
              <input type="button" class="submit" id="cancelar" value="Volver al home"
                onclick="window.location.href='../index2.html'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        nombre: '',
        descripcion: '',
        icono: '',
        url: '',
        version: ''
      },
      mounted: function () {
        this.obtenerProducto(); // Obtener los datos del producto cuando se carga el componente
      },
      methods: {
        obtenerProducto: function () {
          var url = window.location.href;
          var indiceIgual = url.indexOf("=");
          var resultado2 = url.slice(indiceIgual + 1);
          var id = resultado2;
          var urlApi = 'https://francocir.pythonanywhere.com/productos/' + id;

          axios.get(urlApi)
            .then(response => {
              var producto = response.data; // Datos del producto obtenidos

              // Asignar los datos a las propiedades de datos de Vue
              this.nombre = producto.nombre;
              this.descripcion = producto.descripcion;
              this.icono = producto.icono;
              this.url = producto.url;
              this.version = producto.version;
            })
            .catch(error => {
              console.error(error);
            });
        },
        updateProducto: function () {
          var url = window.location.href;
          var indiceIgual = url.indexOf("=");
          var resultado2 = url.slice(indiceIgual + 1);
          var divResultado2 = document.getElementById("resultado2");
          divResultado2.textContent = resultado2;
          var id = resultado2;
          var url = 'https://francocir.pythonanywhere.com/productos/' + id;
          var data = {
            nombre: this.nombre,
            descripcion: this.descripcion,
            icono: this.icono,
            url: this.url,
            version: this.version
          };

          axios.put(url, data)
            .then(function (response) {
              console.log(response.data);

              window.location.href = '../index2.html';

            })
            .catch(function (error) {
              console.error(error);
            });
        }
      }
    });
  </script>
</body>

</html>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        once: true
    });
</script>